*{
  box-sizing: border-box;
}
body
{
	font-size: 16px;
	color: #FFFFFF;
	font-family: 'Oxygen', sans-serif;
}

#header-nav
{
	background-color: #333333;
}
#logo-img
{
	width: 150px;
	height: 75px;
}
nav
{
    margin-right: 0px;
}
#link
     {
      text-transform: uppercase;
       color: #FFFFFF;
       text-decoration: none;
       font-family: sans-serif;
     } 

     #menu{
      transition: all 0.2s;
      color: #FFFFFF;
      font-family: sans-serif;
     }
 
     #menu:hover
     {
      
       background-color:#FFFFFF;
       color: #111111;
       text-decoration: none;
       font-weight: 500; 
       border-radius: 3px;
     }
     #menu a:hover
     {
      color: #111;
      font-weight: 500;
      
     }
     #menu div a:hover
     {
      background-color: black;
      color: #FFFFFF;
     }
     h1{
       color: #111111;
     }
     #marg
     {
       margin: 10px 10px 10px 10px;
       padding: 10px 10px 10px 10px;
     }
     .cont
     {
       margin-bottom: 10px;
      padding: 10px;
     	background-color: #666666;
     	text-align: justify;
     }